/* [BODY] COLOR */
body{background-color: hsla(0, 0%, 0%, .04);}
/* ACTION USER */
[data-user-on="true"] .buttons-action-user{display: none;}
[data-user-on="true"] .icon-action-user{display: flex;}
/* ACTION JS */
._hide{
	left: -100%!important;
	opacity: 0!important;
}
/* [OWL] AJUSTE */
.owl-carousel, .owl-stage{max-width: initial;}
/* [NAV] DEFAULT */
.nav-default{
	padding: 1rem 0;
	position: absolute;
	top: 0; left: 0;
	z-index: 3;
	width: 100vw;
}
/* [NAV] BURG */
.nav-default .burg{
	color: hsla(0, 100%, 100%, .8);
	margin: 0 1rem 0 0;
}
/* [NAV] LOGO */
.nav-default .logo{}
.nav-default .logo figure{}
.nav-default .logo figure img{width: 100px;}
/* [NAV] BUTTONS */
.buttons-action-user{}
.buttons-action-user .bt-login{
	background-color: transparent;
	border: none;
	color: hsla(0, 100%, 100%, .8);
	font-size: .7rem;
	font-weight: bold;
	text-transform: uppercase;
	letter-spacing: 1px;
}
.buttons-action-user .bt-cadastro{
	background-color: var(--color-default);
	border: none;
	border-radius: 2px;
	color: hsla(0, 100%, 100%, .88);
	font-size: .7rem;
	font-weight: bold;
	text-transform: uppercase;
	letter-spacing: 1px;
	padding: .6rem;
	margin: 0 0 0 1rem;
}
.buttons-action-user .bt-cadastro:hover{background-color: var(--color-default_hover);}
/* ICON ACTION USER */
.icon-action-user{display: none;}
.fa-user-graduate {color: hsla(0, 100%, 100%, .8);}
.fa-bell{
	color: hsla(0, 100%, 100%, .8);
	margin-right: 1rem;
}
[data-message="true"]{color: tomato;}
/* [CURSOR] POINTER */
.pointer{cursor: pointer;}
/* MASK */
.mask{
	max-width: 100%;
	max-height: 100%;
	width: 100vw;
	height: 100vh;
	position: fixed;
	top: 0; left: 0;
	z-index: 98;
}
/* MAIN */
.main{
	background-color: hsla(0, 0%, 0%, .9);
	color: hsla(0, 100%, 100%, .8);
	position: fixed;
	top: 0; left: 0;
	z-index: 99;
	max-width: 300px;
	max-height: 100%;
	height: 100vh;
	width: 100vw;
	padding: 1rem;
}
.main .box{width: 100vw;}
/* [BANNER] HOME */
.banner-home{
	position: relative;
	left: 0; top: 0;
	z-index: 1;
	max-width: 100%;
	max-height: 100%;
	width: 100vw;
	height: 100vh;
}
.banner-home::before{
	content: "";
	background: -moz-linear-gradient(top, rgba(0,0,0,1) 0%, rgba(0,0,0,0.4) 100%);
	background: -webkit-linear-gradient(top, rgba(0,0,0,1) 0%,rgba(0,0,0,0.4) 100%);
	background: linear-gradient(to bottom, rgba(0,0,0,1) 0%,rgba(0,0,0,0.4) 100%);
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#000000', endColorstr='#66000000',GradientType=0 );
	position: absolute;
	left: 0; top: 0;
	z-index: 2;
	max-width: 100%;
	max-height: 100%;
	width: 100vw;
	height: 100vh;
}
.item-banner-home{
	background-repeat: no-repeat;
	background-size: cover;
	background-position: center;
	max-width: 100%;
	max-height: 100%;
	width: 100vw;
	height: 100vh;
}
/* SEARCH */
.search{
	position: absolute;
	bottom: 200px; left: 50%;
	-webkit-transform: translateX(-50%);
	-ms-transform: translateX(-50%);
	-o-transform: translateX(-50%);
	transform: translateX(-50%);
	z-index: 3;
}
.search .frm-search{width: 100vw;}
.search .frm-search input{
	background-color: hsla(0, 100%, 100%, .2);
	border: none;
	border-radius: 2px;
	color: hsla(0, 100%, 100%, .8);
	font-size: 1rem;
	width: 100vw;
	padding: 1.4rem 1rem;
}
/* SEARCH MAIN */
.search-main{margin: 1rem 0;}
.search-main .frm-search{width: 100vw;}
.search-main .frm-search input{
	background-color: hsla(0, 100%, 100%, .2);
	border: none;
	border-radius: 2px;
	color: hsla(0, 100%, 100%, .8);
	font-size: .8rem;
	width: 100vw;
	padding: .6rem;
}
/* LISTA DESTAQUE */
.destaque-itens{
	position: relative;
	z-index: 3;
	top: -150px;
}
.destaque-itens .owl-item{
	-webkit-box-shadow: 0 0 10px 0 rgba(0,0,0,.5);
	box-shadow: 0 0 10px 0 rgba(0,0,0,.5);	
	overflow: hidden;
}
.list-destaque{}
.list-destaque li{
	background-repeat: no-repeat;
	background-size: cover;
	background-position: center;
	padding: 1rem;
	max-width: 280px;
	max-height: 300px;
	width: 100vw;
	height: 100vh;
	overflow: hidden;
}
/* [DATA] CENTER */
[data-center="true"]{
	margin: 0 auto;
	max-width: 1024px;
	width: 100vw;
}
/* Tablet*/
@media (max-width: 1024px){
	/* [DATA] CENTER */
	[data-center="true"]{padding: 0 1.4rem;}
}
/* Mobile */
@media (max-width: 812px) {
	.search{bottom: 250px;}
	.destaque-itens{top: -200px;}
	.list-destaque li{
		max-width: 100%;
		max-height: 400px;
	}
}
/*Navegador Mozilla*/
@-moz-document url-prefix(){}